.button{
    padding: .6rem;
    border: none;
    background: transparent;
    color: var(--clr-white);
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: capitalize;
}

.button:hover{
    background: var(--gradient-hover) !important;
}