.transactions {
  overflow-y: scroll;
  height: 335px;
}

.transaction-btns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.8rem;
}

.active {
  background: var(--gradient) !important;
}

.unavailable {
  transform: translateY(500%);
  text-align: center;
}
